{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./",
          "@controllers": "./controllers",
          "@models": "./models",
          "@routes": "./routes",
          "@helpers": "./helpers",
          "@config": "./config"
        }
      }
    ]
  ]
}